<md-content flex
    layout="row"
    md-swipe-left="close()"
    md-swipe-right="menu()"
    md-theme="{{theme}}">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
        md-component-id="menu"
        md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="app-toolbar md-whiteframe-z2"
                ng-animate="animate" md-component-id="menu>
            <div class="md-toolbar-tools">
            {{ 'title_menu' | translate }}
            </div>
        </md-toolbar>
        <ng-include src="'todo_menu.html'"></ng-include>
    </md-sidenav>    
    
    <md-content flex
        layout="column">
        <md-toolbar class="md-whiteframe-z2"
            md-scroll-shrink>
            <div class="md-toolbar-tools"
                ng-if="theme == 'teal'">
                <md-button class="md-icon-button"
                    hide-gt-md
                    ng-click="menu()">
                    <md-tooltip>{{ 'action_menu' | translate }}</md-tooltip>
                    <md-icon>menu</md-icon>
                </md-button>
                <h2 class="md-title">{{ 'title_dashboard' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button"
                    ng-click="$ = 'white'">
                    <md-tooltip>{{ 'action_email' | translate }}</md-tooltip>
                    <md-icon>email</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                    ng-click="$ = 'white'">
                    <md-tooltip>{{ 'action_notifications' | translate }}</md-tooltip>
                    <md-icon>notifications</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'white'">
                    <md-tooltip>{{ 'action_search' | translate }}</md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
            </div>

            <div class="md-toolbar-tools"
                ng-if="theme == 'white'">
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'teal'">
                    <md-tooltip>{{ 'action_back' | translate }}</md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <md-input-container flex
                    md-no-float>
                    <br>
                    <input ng-model="$parent.query.$"
                        placeholder="{{ 'action_search' | translate }}"
                        type="search">
                </md-input-container>
                <md-button class="md-icon-button"
                    ng-click="reset()">
                    <md-tooltip>{{ 'action_reset' | translate }}</md-tooltip>
                    <md-icon>cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <div>
        <br><br><br><br><br><br>
        <center>     
                <section id="todoapp">
                  <header id="header">
                <h1>todos</h1>
                <md-input-container id="new-todo" flex  style="width:50%">
                  <label>What needs to be done?</label>
                  <input>
                </md-input-container>
                  </header>
                  <section id="main">
                <ul id="todo-list"></ul>
                  </section>
                <md-button class="md-raised md-primary" ng-Click="submit()">
                    {{ 'action_submit' | translate }}
                </md-button>
                </form>
       </center>  
       </div>
    </md-content>
</md-content>
