<md-list flex
    ng-controller="TodoMenuController">
    <md-list-item ng-click="todo()">
        <md-icon style="color: blue;">dashboard</md-icon>
        <p>{{ 'title_dashboard' | translate }}</p>
    </md-list-item>
    <md-list-item ng-click="vpn()">
        <md-icon style="color: blue;">poll</md-icon>
        <p>{{ 'title_vpn_usage_statistics' | translate }}</p>
    </md-list-item>
    <md-list-item ng-click="module()">
        <md-icon style="color: blue;">view_module</md-icon>
        <p>{{ 'title_modules' | translate }}</p>
    </md-list-item>
</md-list>
